
#slider{
	margin: auto;
	border: solid 5px #999;
	padding: 5px;
}
 
 
/* ESTILOS DEL SLIDESHOW */
 
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
 
 
.bjqs-caption{
color:black;
background:whitesmoke;
opacity:.75;
}
 
/* BOTONERA UBICADA AL PIE DEL SLIDESHOW */
ol.bjqs-markers{
margin-top:35px;
}
ol.bjqs-markers li a{
padding: 5px 10px;
background: #000;
color: #fff;
margin: 5px;
text-decoration: none;
transition:background .5s ease;
-webkit-transition:background .5s ease;
-moz-transition:background .5s ease;
-o-transition:background .5s ease;
}
li.active-marker a, ol.bjqs-markers li a:hover{
background:gray!important;
}
 
/* CONTROLES ATRAS Y ADELANTE */
ul.bjqs-controls.v-centered li a {
display: block;
padding: 10px;
background: whitesmoke;
color: #000;
text-decoration: none;
opacity:.75;
 
transition:color .5s ease; background: .5s ease;
-webkit-transition:color .5s ease; background: .5s ease;
-moz-transition:color .5s ease; background: .5s ease;
-o-transition:color .5s ease; background: .5s ease;
}
ul.bjqs-controls.v-centered li a:hover{
    background:#000;
    color:#fff;
}

.chat-cont
  {
	max-width: 80% !important;
	max-height: 80% !important;
    margin: auto;
    font-family: sans-serif;
    letter-spacing: 0.5px;
  }






.activa
{
  justify-content: center;
}
  .activa h4
  {
    font-size: 30px;
    margin-left: 10px;
	justify-content: center;
  }

  .cuerpo-chat
  {
    padding: 0 0 50px 0;
  }
  .msg-imbox
  {
    border: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 30px;
  }
  .chats
  {
    padding: 30px 15px 0 25px;
  }
 
  .reciv-chat-img
  {
    display: inline-block;
    width: 20px;
    float: left;
  }
.reciv-msg
{
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.reciv-msginbox
{
  width: 57%;
} 
.reciv-msginbox p
{
  background:  #efefef none repeat scroll 0 0;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.env-chat
{
  overflow: hidden;
  margin: 26px 20px;
}
.env-msg p
{
  background: #007bff none repeat scroll 0 0;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  
}
.env-msg
{
  float: left;
  width: 46%;
  margin-left: 45%;
}
.env-chat-img
{
  display: inline-block;
  width: 20px;
  float: right;
}

.input-group-text
{
  background-color: #007bff;
  color: #fff;
}




.user
{
  
  color: #000;
  font-size: 8px;
  margin: 2px 0 0;

}
