<form method="POST" id="frm-buscar-peliculas">
    <div class="card text-white bg-dark mb-3" style="max-width: 48rem;">
        <div class="car-header">
            BUSQUEDA PELICULAS

            <button type="button" id="btn-close-buscar-peliculas" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-peliculas" class="table-striped table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarDocente" placeholder="descripcion,sinopsis o genero" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>DESCRIPCION</th>
                        <th>SINOPSIS</th>
                        <th>GENERO</th>
                        <th>DURACION</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="pelicula in mispeliculas" :key="pelicula.idPelicula" v-on:click="modificarDocente(pelicula)">
                        <td>{{ pelicula.descripcion }}</td>
                        <td>{{ pelicula.sinopsis }}</td>
                        <td>{{ pelicula.genero }}</td>
                        <td>{{ pelicula.duracion }}</td>
                        <td>
                            <input v-on:click="eliminarDocente(pelicula.idPelicula)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/peliculas/buscar-peliculas.js"></script>