<form v-on:submit.prevent="guardarDocente" data-accion="nuevo" data-idpelicula='' id="frm-peliculas" method="post">
    <div class="card text-white bg-dark mb-3" style="max-width: 24rem;">
        <div class="card-header">
            Mantenimiento Pelicula
        
            <button type="button" id="btn-close-peliculas" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-5">
                    DESCRIPCION
                </div>
                <div class="col-8">
                    <input type="text" v-model="pelicula.descripcion" placeholder="AAAAAAAA" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    SINOPSIS
                </div>
                <div class="col-8">
                    <input type="text" v-model="pelicula.sinopsis" placeholder="AAAAAA" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    GENERO
                </div>
                <div class="col-8">
                    <input type="text" v-model="pelicula.genero" placeholder="AAAAAAA" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    DURACION
                </div>
                <div class="col-8">
                    <input type="text" v-model="pelicula.duracion" placeholder="0.0.0" class="form-control">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnGuardarDocentes" type="submit" class="btn btn-outline-primary text-white" value="Guardar">
                    <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                    <input type="button" class="btn btn-outline-success mostrar-buscar-peliculas text-white" data-modulo="peliculas" data-form="buscar-peliculas" value="Buscar">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <div class="alert alert-success" role="alert">
                        {{ pelicula.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/peliculas/peliculas.js"></script>